/* Global styles */
html {
  scroll-behavior: smooth;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4{
    line-height: 2;
}
.general-green{
    color: #369956;
}
h1, h2, h3, h4, h5, h6{
    color: #369956;
}

/* Buttons */
.topbutton { 
    position:fixed;
    right:10px; 
    bottom:10px; 
    z-index:1; 
}

i.fas.fa-arrow-circle-up { 
    font-size: -webkit-xxx-large;
    color: #369956;
}

.btn-small{
    margin-top: 10px;
    background-color: #369956;
    color: #fff;
    transition-duration: 0.4s;
}

.btn-small:hover{
    background-color: #fff;
    color: #369956;
}

.btn-large{
background-color: #369956;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

/* Modal */

.modal-content-container {
  margin: 30px;
}

/* Navbar */

.logo{
    height: 60px;
    margin-bottom: -20px;
    padding-top: 5px;
    padding-left: 10px;
}

nav ul a{
    color: #369956 !important;
    font-weight: 600;
}

/* Banner */
.wrapper{
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 0.8rem;
}

.banner{
    position: relative;
    top: 0;
    left: 0;
    min-height: 70px;
    max-height: 500px;
    opacity: 0.9;
    z-index: 1;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.inner-logo{
    position: absolute;
    top: 8%;
    left: 43%;
    max-width: 14vw;
    z-index: 2;
}

/* Home */
.main-image {
  position: relative;
  text-align: center;
}

#main-image-text {
  position: absolute;
  top: 8px;
  left: 15px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
}
/* Side Image */

.homepage-sml-img {
  position: relative;
  text-align: center;
}

.small-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

#bottom-right-image {
  margin-top: 12px;
}
/* Recipe View */
.recipe-info{
    background: rgb(241, 237, 237);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
/* Overriding Materialize-Styles */
h1,h2,h3,h4,h5,h6{
    color: #369956;
}
.fas{
    margin-right: 5px;
}

ul.basics:not(.browser-default)>li{
    list-style-type: disc;
    margin-left: 2.5rem;
}
main.container{
    min-height: calc(100vh - 350px);
} 

.card-content{
    min-height: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    padding: 12px;
}
.page-footer{
    background-color: #369956;
    padding-bottom: 0.2rem;
}
a.profile{
    color: #369956;
    font-size: 1.2rem;
}

/* Mdeia Queries */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px){
.recipe-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.recipe-card{
    margin-top: 2rem;
}

.card .card-image img {
    height: 120px;
    overflow: hidden;
    margin: auto;
    object-fit: cover;
}
}
@media only screen and (max-width: 600px){
.homepage-sml-img {
    margin-top: 13px;
}
}