.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4{
    line-height: 2;
}

.btn-small{
    margin-top: 10px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

/* Modal */

.modal-content-container {
  margin: 30px;
}

/* Navbar */

.logo{
    height: 60px;
    margin-bottom: -20px;
    padding-top: 5px;
    padding-left: 10px;
}

nav ul a{
    color: #369956 !important;
    font-weight: 600;
}

/* Banner */
.wrapper{
    position: relative;
    top: 0;
    left: 0;
}
.banner{
    position: relative;
    top: 0;
    left: 0;
    max-height: 350px;
    opacity: 0.9;
    z-index: 1;
    /* transition:opacity 500ms ease-out; */
}

/* .banner:hover{
    opacity: 1;
} */

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
.inner-logo{
    position: absolute;
    top: 8%;
    left: 43%;
    max-width: 14vw;
    z-index: 2;
}

/* Overriding Materialize-Styles */
.card-panel{
    margin: auto;
}

/* Mdeia Queries */

@media (min-width: 768px){
.recipe-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.recipe-card{
    height: 350px;
    margin-top: 2rem;
}
.card .card-image img {
    height: 120px;
    width: 85%;
    overflow: hidden;
    margin: auto;
}
}
/* @media (max-width: 480px){
.input-field{
    display: block;
}
} */