{% extends "base.html" %} {% block content %}

<h3 class="green-text text-darken-2 center-align">Add Recipe</h3>

<div class="row card-panel grey-lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe')}}">
        <!-- Category selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open general-green prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{category.category_name }}">{{category.category_name }}</option>
                    {% endfor %}
                </select>
                <label>Categories</label>
            </div>
        </div>
        <!-- Recipe Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt general-green prefix"></i>
                <input id="recipe_name" name="recipe_name" minlength="5" maxlength="60" type="text" class="validate" required />
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!-- Preparation & Cooking Time -->
        <div class="row">
            <div class="input-field inline col m6 s12">
                <i class="fas fa-clock general-green prefix"></i>
                <input id="recipe_time_prep" name="recipe_time_prep" type="text" minlength="1" maxlength="3" class="validate" required />
                <label for="recipe_time_prep">Preparation Time (mins)</label>
            </div>
            <div class="input-field inline col m6 s12">
                <i class="fas fa-clock general-green prefix"></i>
                <input id="recipe_time_cook" name="recipe_time_cook" type="text" minlength="1" maxlength="3" class="validate" required />
                <label for="recipe_time_cook">Cooking Time (mins)</label>
            </div>
        </div>
        <!-- Amount of Servings & Difficulty -->
        <div class="row">
            <div class="input-field inline col m6 s12">
                <i class="fas fa-pizza-slice general-green prefix"></i>
                <input id="recipe_serves" name="recipe_serves" type="text" minlength="1" maxlength="2" class="validate" required />
                <label for="recipe_serves">How many servings?</label>
            </div>
            <div class="input-field col m6 s12">
                <select name="recipe_difficulty" id="recipe_difficulty">
                <option value="" disabled selected>Which difficulty?</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Challenging">Challenging</option>
                </select>
            </div>
        </div>
        <!-- Recipe Ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-carrot general-green prefix"></i>
                <textarea id="recipe_ingredients" name="recipe_ingredients" cols="1" rows="30" class="materialize-textarea validate" required></textarea>
                <label for="recipe_ingredients">One ingredient per line!</label>
            </div>
        </div>
        <!-- Recipe Method -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left general-green prefix"></i>
                <textarea id="recipe_method" name="recipe_method" minlength="5" class="materialize-textarea validate" required></textarea>
                <label for="recipe_method">Method</label>
            </div>
        </div>
        <!--Recipe Image URL-->

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image general-green prefix"></i>
                <input id="img_url" name="img_url" type="text" minlength="5" pattern="https://.*" class="validate lazyload" required />
                <label for="img_url">Add your Image</label>
                <span class="helper-text" data-error="wrong" data-success="right">To add an image, please enter a valid URL.</span>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large text-shadow">Add Recipe <i class="fas fa-plus-square right"></i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
