{% extends "base.html" %}
{% block content %}

<h2 class="green-text">The Basics</h2>
<h4 class="green-text">Introduction</h4>
<p>Cooking with cannabis can be a culinary enrichment and a pleasant form of consumption.
    It takes a little bit of basic knowledge and some preparation to get started.
    In order for cannabis to become an ingredient to cook with, it must be extracted.
    Since the effect only sets in after about 30 to 60 minutes with culinary use, please be patient and do not overeat.
</p>
<!-- Text from https://www.medicaljane.com/category/cannabis-classroom/cooking-with-cannabis/#intro-to-cooking-with-cannabis -->
<h4 class="green-text">Decarboxylation</h4>
<p>
Using cannabis as a medicine begins with understanding the basic science of decarboxylation,
and why it is a crucial process in making edibles, tinctures and topical treatments.
To get the full medicinal value out of your cannabis, it needs to be heated to a temperature 
that is just not possible to obtain in the human digestive system. The major downside of decarboxylating
 is that some of the more volatile terpenes (and other aromatics) that give the plant its signature aroma
  and flavor are lost during the process. Adding an equal amount of raw material to the decarboxylated materials
   may improve the taste and/or smell of your creations, but learning how to properly decarboxylate cannabis
    from the get-go will save you a lot of time, energy, money and product when cooking with cannabis.
</p>
<h5 class="green-text">The Process</h5>
<p>Forewarning: There will be a very strong odor of cannabis during this process.</p>
<ol class="basics">
    <li>Preheat oven to 225° F / 110° C.</li>
    <li>Line an oven-safe dish (or a rimmed baking sheet) with parchment paper.</li>
    <li>Breaking up cannabis buds into smaller pieces by hand, place the material in the dish close together but not stacked on one another (the less unused space the better).</li>
    <li>When oven is pre-heated, bake for about 20 minutes to remove the moisture (depending on the freshness of the material). Watch for the plant color to get darker (a light to medium brown shade). When it is time to remove from the oven, the material should be crumbly looking.</li>
    <li>Set plant material aside and wait until it is cool enough to handle. Turn oven up to 240° F / 115° C and wait for it to preheat again.</li>
    <li>When the cannabis is cooled, lightly crumble by hand and distribute evenly over the bottom of the dish.</li>
    <li>Cover dish with aluminum foil, crimping the edges tight to seal and return to the oven. Continue baking for another 45-60 minutes for higher THC and 60-90 minutes for higher CBD.</li>
    <li>Remove from oven and allow to cool fully before removing the foil. Depending on the material you use, it may be fine enough and require no further processing. If not, you can place the material in a food processor or blender, pulsing the cannabis until it is coarsely ground. Be careful not to over grind the material, as you do not want a super fine powder.</li>
    <li>Place in an airtight container (glass preferred) and store in a cool, dry place.</li>
</ol>
<h4 class="green-text">Cannabutter</h4>
<p>When you’re making marijuana-infused butter (cannabutter), the key thing to remember is “low and slow” (eg, low temperature, slow cook time). Infusing the butter over low heat for several hours allows for full activation of the THC without scorching the herb or wasting material.
THC and CBD are not soluble in water, but are in certain carrier oils. Therefore, the butter fats act as carriers and “soak up” the cannabinoids, terpenes and flavonoids, leaving any impurities in the water.</p>
<p><strong>Important: </strong>If you are looking for a more psychoactive effect (eg. the high commonly associated with THC), then it is recommended that you completely decarboxylate your cannabis before cooking with it. The ‘decarbing’ process ensures the cannabinoids are activated and no longer in their acid-form (THCa, CBDa, etc.).</p>
<h5 class="green-text">Ingredients & Tools</h5>
<ul class="basics">
    <li>1 pound butter (unsalted preferred)</li>
    <li>1 quart (4 cups) of water</li>
    <li>Metal spoon</li>
    <li>Spatula</li>
    <li>Medium saucepan / pot (2 or 3 quart)</li>
    <li>Glass or stainless steel bowl (2 quart)</li>
    <li>Metal strainer or colander</li>
    <li>2 pieces of cheesecloth (approx 8” x 8”)</li>
    <li>Food handling gloves</li>
    <li>Knife</li>
    <li>Plastic wrap or airtight container(s)</li>
</ul>
<h5 class="green-text">Directions</h5>
<ol class="basics">
    <li>Combine water, butter (cut into several pieces) and cannabis into pan and cook over low heat – the mixture should never boil but simply simmer. Continue cooking for 3-4 hours.</li>
    <li>Every 30 minutes or so stir gently. The mixture will thicken as the water cooks off. Don’t allow mixture to become too thick. The cannabis should float about 2 inches from the bottom of the pan and should never touch the bottom. If necessary, add water.</li>
    <li>After 3-4 hours, when the mixture looks glossy and is more dense and compact (most of the water has evaporated), turn off heat and allow to cool.</li>
    <li>While the butter mixture is cooling, line a metal colander or strainer with a double layer of cheesecloth (be sure to allow a few inches of overhang).</li>
    <li>When mixture is safe to handle, pour the butter and cannabis mixture into the colander/strainer, pressing down with back of spatula, allowing the butter to drain into the glass bowl.</li>
    <li>With gloved hands, bring together the corners of the cheesecloth and twist tightly to squeeze out all of the butter. Discard cannabis.</li>
    <li>Using the spatula, scrape out any residual butter left in pan into the bowl.</li>
    <li>Place bowl in fridge for about 2 hours, or until butter has solidified.</li>
    <li>After the butter has solidified, the next step is to remove it from the water. Run a knife around edges to separate the butter from the bowl, and then cut a small piece from edge (but large enough to feed spatula underneath).</li>
    <li>Carefully lift the butter layer and place wet side up on wax paper or cutting board and dab off any excess water with dry clean cloth. Your finished butter will have a green tinge.</li>
    <li>Place the cannabutter into an airtight container, and store in fridge until ready to use.</li>
    <li>It is recommended cannabutter be used immediately, or within a few weeks for optimal quality.</li>
</ol>
<h5 class="green-text">Cannabis Infused Butter Storage Tips</h5>
<p>As long as you use an airtight container or storage bag (plastic wrap works, too, if sealed tightly), your cannabutter will keep in the fridge for several weeks or in the freezer for up to six months. It is a good idea to separate into individual doses or measurements first, especially if freezing.</p>

<!-- Text from https://www.medicaljane.com/2016/05/13/cannabis-infused-cooking-oil/ -->
<h4 class="green-text">Cannabis Infused Cooking Oil</h4>
<p>Cannabis infused cooking oils, commonly referred to as canna oils, are popular among many medical marijuana patients and caregivers looking to infuse everything from salad dressings to dipping sauces to baked goods. Most oils are vegan-friendly and extremely easy to add into recipes with savory meals like steak or chicken. Additionally, infused cooking oils may serve as a healthy substitute for butter in many recipes. These factors make marijuana-infused cooking oils a must-have for most medical marijuana patients when it comes to cooking with cannabis at home.</p>
<h5 class="green-text">Ingredients</h5>
<ul class="basics">
    <li>6 cups extra virgin olive oil (organic preferred) (or)canola oil (backup oil — not preferred)</li>
    <li>~1 ounce cannabis buds, finely ground (or) ~2 ounces of leaf trim, dried and finely ground</li>
</ul>
<ol class="basics">
    <li>In a heavy saucepan (or a double boiler), slowly heat the cooking oil on low heat for a few minutes. You should begin to smell the aroma coming from the oil.</li>
    <li>Add a little bit of cannabis to the oil and then stir until it is fully coated with oil. Keep adding more cannabis until the entire amount of cannabis is mixed into the oil.</li>
    <li>Simmer on low heat for 45 minutes, stirring occasionally. Remove the mixture from the heat and allow it to cool before straining.</li>
    <li>Press the cannabis against a metal strainer with the back of a spoon to wring all the oil out of it.</li>
    <li>The oil is best stored in an airtight container in the refrigerator for up to 2 months.</li>
    <li>Throw the leftover cannabis in the compost.</li>
</ol>



{% endblock %}