{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3 class="green-text text-darken-2 center-align">Let yourself be enchanted by our delicious recipes.</h3>
        <div class="divider"></div>
            <blockquote green>A recipe has no soul. <br>
                You, as the cook, has to bring soul to the recipe!<br>
            </blockquote>
        <p>Thomas Keller</p>
        <div class="divider"></div>
        <h5>This page was created to help those suffering from chronic illnesses and thereby experience mitigation.</h5>
    </div>
    


{% endblock %}
