{% extends 'base.html' %} {% block content %}



    <h2 class="center-align">Shop</h2>


<div class="container">
    <div class="row center-align">
        <img src="https://images-na.ssl-images-amazon.com/images/I/A1uxZpdKK8L.jpg" class="col s12" alt="cookbook">
        <h2>The official High Cuisine Cookbook</h2>
        <p>Do you prefer your recipes as a book?</p>
        <p><u>Available soon.</u></p>
    </div>
    <div class="row center-align">
        <img src="https://cdn.shopify.com/s/files/1/1362/6597/products/LEVO_BLACK_SHOT_02_2048x.jpg?v=1606799077" class="col s12" alt="Levo Infuser">
        <h2>Levo Infuser</h2>
        <p>Do you want to safe time and work?</p>
        <a class="general-green" href="https://shop.levooil.com/products/levo-ii" target="_blank">Buy here!</a>
    </div>
</div>

{% endblock %}